Repository Vjonquiere/KeskonMange, pull requests merged in 2025-01, with the labels that each got.

#56 fix softlock (Close #50)
  client/lib/pages/signup_page.dart
Labels: bug, Client

#74 Regen database
  README.md
  server/test/auth.test.js
  server/test/books.test.js
  server/test/calendar.test.js
  server/test/ingredient.test.js
  server/test/recipe.test.js
  server/test/user.test.js
  server/test/utils.js
Labels: Server

#92 Client http requests
  .github/workflows/main.yml
  client/lib/http/authentication.dart
  client/lib/http/books/books.dart
  client/lib/http/calendar/calendar.dart
  client/lib/http/connexion.dart
  client/lib/http/recipe/recipe.dart
  client/lib/http/user/user.dart
  client/lib/pages/login_page.dart
  client/lib/pages/signup_page.dart
Labels: Client
